.table {
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin: 2em auto 3em;
}
	.table caption {
		text-align: left;
		padding: 0.3em 0;
	}
	.table tr:nth-of-type(2n) {
		background: #f7f7f7;
	}
	.table td, .table th {
		padding: 0.3em;
		border: 1px solid #ddd;
	}